:root {
  --regular-font: "Lora", serif;
  --decor-font: "Akaya Telivigala", cursive;
  --orange: rgb(155, 70, 31);
  --sand: #f3b646;
  --sand-tone: rgba(234, 170, 52, 0.624);
  --sand-tint: #fcc869;
  --green: #354c3c;
  --red: #6a1d2f;
  --red-tint: rgb(107, 40, 54);
  --blue: #42354c;
  --blue-tone: #3d2f47;

  --body-padding: 20%;
}

body {
  margin: 0;
  font-family: var(--regular-font);
  background-color: var(--orange);
}

.accent-words {
  background-color: var(--green);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 5px var(--blue);
}

/* ===== NAVBAR ===== */

nav {
  height: 5rem;
  padding: 10px;
  background-color: var(--green);
  color: var(--sand);
  padding-inline: 1rem;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
  -webkit-box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
  -moz-box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
}

.navbar > a {
  height: 100%;
}

.logo {
  height: 100%;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.nav-links a {
  color: var(--sand);
  text-decoration: none;
  padding-inline: 10px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.nav-links a::before {
  content: "";
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 100ms ease-in-out;
}

.nav-links a:hover::before {
  bottom: 0;
  height: 100%;
  background-color: var(--red);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  /* im using a downloaded stylesheet for the hamburger menu and I don't know how tp change the color so this will do */
  background-color: var(--sand) !important;
  display: none;
}

/* ===== HOMEPAGE ===== */

.hero {
  background-image: url(./assets/nnnoise.svg);
  background-attachment: fixed;
  background-color: var(--green);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  padding-inline: 3.5rem;
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  font-family: var(--decor-font);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0px -48px 21px -10px rgba(155, 70, 31, 1) inset;
  -webkit-box-shadow: 0px -48px 21px -10px rgba(155, 70, 31, 1) inset;
  -moz-box-shadow: 0px -48px 21px -10px rgba(155, 70, 31, 1) inset;
}

.hero img {
  width: 400px;
  margin-left: 1rem;
}

h1 {
  color: var(--sand);
  font-size: 5rem;
  margin: 1rem;
  text-shadow: 2px 5px 5px black;
}

.home-page .hero span {
  color: var(--sand);
  font-size: 1.8rem;
  text-shadow: 2px 5px 5px black;
  line-height: 3rem;
}

.hero-btn {
  color: var(--sand);
  text-decoration: none;
  background-color: var(--blue);
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  text-shadow: 2px 2px 5px black;
  border-radius: 10px;
  margin-top: 1rem;
  border: 3px solid var(--red);
  transition: all 200ms ease-in;
}

.hero-btn:hover {
  background-color: var(--blue-tone);
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ===== SECTION 1 ===== */

.sec1 {
  color: var(--sand);
  text-align: center;
  margin: 0 auto;
  padding-inline: var(--body-padding);
}

.sec1 h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 5px var(--blue);
  margin-bottom: 1rem;
}

.sec1 .pronounciation {
  font-size: 1.5rem;
}

.sec1 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.sec1 a {
  background-color: transparent;
  position: relative;
  text-decoration: none;
  color: var(--sand);
  z-index: 1;
  padding: 3px;
}

.sec1 a::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 3px;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--blue);
  transition: all 100ms ease-in-out;
}

.sec1 a:hover::before {
  height: 90%;
  bottom: 0;
  background-color: var(--green);
}

/* ===== MEDA QUERIES ===== */

@media (max-width: 880px) {
  /* hero */
  .hero img {
    display: none;
  }

  .hero {
    text-align: center;
  }

  .hero div {
    align-items: center;
  }

  /* sec1 */
  .sec1 {
    padding-inline: 1rem;
  }

  .sec1 h2 {
    font-size: 2rem;
  }

  .sec1 .pronounciation {
    font-size: 16px;
  }

  .sec1 p {
    font-size: 1rem;
  }
}

.me-img {
  height: 300px;
}
@media (max-width: 570px) {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 4px solid var(--red);
    background-color: var(--green);
    padding-top: 1rem;
    transition: all 100ms ease-in;

    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: 100vh;
  }

  .nav-links.is-active {
    right: 0;
  }

  /* Hero */
  .hero h1 {
    font-size: 55px;
    margin-bottom: 1.5rem;
  }

  .home-page .hero span {
    font-size: 26px;
    line-height: 35px;
  }

  /* sec1 */
  .sec1 {
    padding-inline: 1rem;
  }

  .sec1 h2 {
    font-size: 2rem;
  }

  .sec1 .pronounciation {
    font-size: 16px;
  }

  .sec1 p {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  /* hero */
  .home-page .hero span {
    font-size: 26px;
  }

  /* sec1 */
  .sec1 h2 {
    font-size: 26px;
  }

  .sec1 p {
    font-size: 16px;
  }
}
