:root {
  --regular-font: "Lora", serif;
  --decor-font: "Rowdies", cursive;
  --orange: #9b461f;
  --sand: #dea450;
  --green: #354c3c;
  --red: #6a1d2f;
  --blue: #42354c;
}

body {
  margin: 0;
  font-family: var(--regular-font);
  background-color: var(--orange);
}

/* HOME PAGE */

nav {
  height: 5rem;
  padding: 10px;
  background-color: var(--green);
  color: var(--sand);
  padding-inline: 1rem;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.navbar > a {
  height: 100%;
}

.logo {
  height: 100%;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.nav-links a {
  color: var(--sand);
  text-decoration: none;
  padding-inline: 10px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.nav-links a::before {
  content: "";
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 100ms ease-in-out;
}

.nav-links a:hover::before {
  bottom: 0;
  height: 100%;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  /* im using a downloaded stylesheet for the hamburger menu and I don't know how tp change the color so this will do */
  background-color: var(--sand) !important;
  display: none;
}

.hero {
  background-image: url(./assets/gggrain.svg);
  background-position: center;
  height: 70vh;
}

/* small screens */
@media (max-width: 570px) {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 4px solid var(--red);
    background-color: var(--green);
    padding-top: 1rem;
    transition: all 100ms ease-in;

    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: 100vh;
  }

  .nav-links.is-active {
    right: 0;
  }
}
