:root {
  --regular-font: 'Lora', serif;
  --decor-font: 'Akaya Telivigala', cursive;
  --orange: #9b461f;
  --sand: #f3b646;
  --sand-tone: #eaaa349f;
  --sand-tint: #fcc869;
  --green: #354c3c;
  --green-tone: #2a3d30;
  --red: #6a1d2f;
  --red-tint: rgb(107, 40, 54);
  --blue: #42354c;
  --blue-tone: #3d2f47;
  --border-radius: 10px;
}

html {
  box-sizing: border-box;
}

  /* Code for Firefox */
::-moz-selection {
  color: var(--sand);
  background: var(--blue);
}

/* hightlight/selection color */
::selection {
  color: var(--sand);
  background: var(--blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f3b646 #354c3c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #354c3c;
}

*::-webkit-scrollbar-thumb {
  background-color: #f3b646;
  border-radius: 3px;
  border: 2px ridge #ffffff;
}

body {
  margin: 0;
  font-family: var(--regular-font);
  background-color: var(--orange);
}

html {
  scroll-behavior: smooth;
}

.body {
  background-image: url(./assets/nnnoise3.svg);
  background-position: center;
  background-size: cover;
}

.accent-words {
  background-color: var(--green);
}

h2,
h3 {
  text-shadow: 1px 1px 8px black;
  color: var(--sand);
}

a {
  color: inherit;
  text-decoration: none;
}

.sec-header {
  font-size: 2.5rem;
}

.sec-header-2 {
  font-size: 26px;
  margin: 1rem;
}

.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 3px dotted var(--green);
  cursor: default;
}

.tooltip .pronounciation {
  visibility: hidden;
  width: 120px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  width: 50%;
  bottom: 100%;
  left: 50%;
  margin-left: -25%;
  z-index: 999;
}

.tooltip:hover .pronounciation {
  visibility: visible;
}

.tooltip .pronounciation::after {
 content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--blue) transparent transparent transparent;
}

/* ===== NAVBAR ===== */

.navbar {
  height: 5rem;
  padding: 10px;
  background-color: var(--green);
  color: var(--sand);
  padding-inline: 1rem;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 100;

  box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
  -webkit-box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
  -moz-box-shadow: 0px 20px 21px -10px rgba(53, 76, 60, 1);
}

.navbar > a {
  height: 100%;
}

.logo {
  height: 100%;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.nav-links a {
  color: var(--sand);
  text-decoration: none;
  padding-inline: 10px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.nav-links a::before {
  content: "";
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 100ms ease-in-out;
}

.nav-links a:hover::before {
  bottom: 0;
  height: 100%;
  background-color: var(--red);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  /* im using a downloaded stylesheet for the hamburger menu and I don't know how tp change the color so this will do */
  background-color: var(--sand) !important;
  display: none;
}

/* ===== HOMEPAGE ===== */

.hero {
  background-image: url(./assets/nnnoise.svg);
  background-attachment: fixed;
  background-color: var(--green);
  background-position: center;
  background-size: cover;

  min-height: 85vh;
  padding-inline: 3.5rem;
  background-repeat: no-repeat;
  font-family: var(--decor-font);
  box-shadow: 0px -33px 21px -10px rgba(155, 70, 31, 1) inset;
  -webkit-box-shadow: 0px -33px 21px -10px rgba(155, 70, 31, 1) inset;
  -moz-box-shadow: 0px -33px 21px -10px rgba(155, 70, 31, 1) inset;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
}

.hero img {
  width: 400px;
  margin-left: 1rem;
}

h1 {
  color: var(--sand);
  text-shadow: 2px 5px 5px black;
  font-size: 5rem;
  margin: 1rem;
}

.hero span {
  color: var(--sand);
  font-size: 1.8rem;
  text-shadow: 2px 5px 5px black;
  line-height: 3rem;
}

.hero-btn {
  color: var(--sand);
  text-decoration: none;
  background-color: var(--blue);
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  text-shadow: 2px 2px 5px black;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  border: 3px solid var(--red);
  transition: all 200ms ease-in;
}

.hero-btn:hover {
  background-color: var(--blue-tone);
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ===== SECTION 1 ===== */

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--sand);
  margin: 0 auto;
  width: 80%;
}

.sec1,
h3 {
  font-size: 2rem;
}

.sec1-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.sec1 .pronounciation {
  font-size: 1.2rem;
  padding: 5px;
}

.sec1 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.sec1 a {
  background-color: transparent;
  position: relative;
  text-decoration: none;
  color: var(--sand);
  z-index: 1;
  padding: 3px;
}

.sec1 a::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 3px;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--blue);
  transition: all 100ms ease-in-out;
}

.sec1 a:hover::before {
  height: 90%;
  bottom: 0;
  background-color: var(--green);
}

/* ===== SKILLS ===== */
.skills-sec {
  padding-inline: 10%;
  font-size: 1.5rem;
}

.skill-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.skill-card {
  background-color: var(--sand);
  color: var(--blue);
  padding: 5px 15px;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  box-shadow: 1px 1px 5px black;
}

/* ===== Portfolio Page ===== */
.portfolio-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--sand);
  font-size: 1.5rem;
  margin-inline: 16px;
  margin-block: 3rem;
  text-align: center;
}

.portfolio-page h2 {
  margin-inline: 1rem;
  color: var(--sand);
  position: relative;
  z-index: 1;
  text-align: center;
}

/* ===== Project Card ===== */
.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.project-card {
  width: 80%;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 5px solid var(--red);
  border: 3px solid var(--red);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--green);
  color: var(--sand);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.card-info h3 {
  margin: 1rem;
}

.card-links {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-links a {
  border: 1px solid var(--red);
  color: var(--red);
  margin: 0.5rem;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, var(--sand) 5%, var(--sand-tone) 100%);
  background-color: var(--sand);
  border-radius: var(--border-radius);
  border: 1px solid var(--red);
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.card-links a:hover {
  background: linear-gradient(to bottom, var(--sand-tint) 5%, var(--sand) 100%);
  background-color: var(--sand);
}

.project-img-container {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.project-card button {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, var(--red) 5%, var(--red-tint) 100%);
  background-color: #var(--red);
  border-radius: 3px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  font-family: var(--regular-font);
}

.project-card button:hover {
  background: linear-gradient(to bottom, var(--red-tint) 5%, var(--red) 100%);
}

.portfolio-page-github-link {
  position: relative;
  padding: 3px;
}

.portfolio-page-github-link::before {
  content: "";
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 10px;
  /* z index to put purple behind element */
  z-index: -1;
  transition: all 100ms ease-in-out;
}

.portfolio-page-github-link:hover::before {
  bottom: 0;
  height: 100%;
  background-color: var(--green);
}

/* ===== CONTACT PAGE ===== */
.contact-page {
  color: var(--sand);
  margin-bottom: -370px;
  padding-bottom: 3rem;
  scroll-margin-top: 1.5rem;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--red);
  border-radius: var(--border-radius);
  background-color: var(--blue);
  background-image: url("./assets/nnnoise.svg");
  background-size: cover;
  padding-bottom: 1rem;
  width: 80%;
  margin-inline: auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.email-form input {
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.email-form textarea {
  display: block;
  max-width: 90vw;
  height: 150px;
  min-height: 100px;
}

.email-form textarea,
.email-form input {
  border-radius: var(--border-radius);
  width: 50vw;
  border: 2px solid var(--sand-tint);
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
  font-family: var(--regular-font);
  font-size: 1.1rem;
}

.email-form label {
  font-size: 1.5rem;
}

.email-form button {
  width: 150px;
  padding: 10px 20px;
  font-family: var(--regular-font);
  font-size: 1.05rem;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--sand);
  background: linear-gradient(to bottom, var(--red) 5%, var(--red-tint) 100%);
  cursor: pointer;
  border: 2px solid var(--sand-tone);
  margin-top: 1rem;
}

.email-form button:hover {
  background: linear-gradient(to bottom, var(--red-tint) 5%, var(--red) 100%);
  border-color: var(--sand);
}

/* FLOATING NAV */
.floating-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 25px;
  right: 15px;
  float: right;
  overflow: hidden;
  margin-bottom: 1rem;
}

.navigation-icon {
  color: var(--green);
  font-size: 50px;
  float: right;
  transition: 200ms all ease-out;
  cursor: pointer;
}

.navigation-icon:hover {
  color: var(--green-tone);
}

.navigation-icon.active {
  transform: unset;
}

.menu {
  background-color: var(--green);
  color: var(--sand);
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
  transition: 200ms all ease-out;
  border-left: 4px solid var(--red);
  border-bottom: 4px solid var(--red);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  right: -100%;
}

.menu.active {
  right: 1px;
}

.menu a {
  width: 100%;
  height: 25%;
  display: grid;
  place-content: center;
  border-top: 4px solid var(--red);
  border-right: 4px solid var(--red);
  user-select: none;
}

.menu a:hover {
  background-color: var(--green-tone);
}

/* ===== FOOTER ===== */

footer {
  background-color: var(--green);
  padding: 0.5rem;
  color: var(--sand);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  background-image: url(./assets/nnnoise.svg);
  font-size: 1.2rem;
  clear: both;
}

.keep-together {
  white-space: nowrap;
}

.socials-icons svg {
  font-size: 2.2rem;
  color: var(--sand);
}

.socials-icons svg:hover {
  color: var(--sand-tint);
}

footer span {
  /* clicking the floating nav icon tends to selects the text */
  user-select: none;
}

/* ===== MEDA QUERIES ===== */

@media (max-width: 1164px) {
  h1 {
    font-size: 4rem;
  }
  .sec1 h2 {
    font-size: 2rem;
  }
  .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1rem;
  }

  .card-info span {
    padding: 10px;
  }
}

@media (max-width: 880px) {
  /* hero */
  .hero img {
    display: none;
  }

  .hero {
    text-align: center;
  }

  .hero div {
    align-items: center;
  }

  /* sec1 */
  .sec1 {
    padding-inline: 1rem;
    max-width: none;
  }

  .sec1 h2 {
    font-size: 2rem;
  }

  .sec1 .pronounciation {
    font-size: 16px;
  }

  .sec1 p {
    font-size: 1rem;
  }

  .sec1-header {
    font-size: 2rem;
  }

  .contact-page{
    margin-bottom: 0;
  }

  /* ===== FLOATING NAV ===== */
  .floating-nav {
    display: none;
  }

  .skills-sec,
  .skill-card{
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.43);
  }

  .logo {
    padding-left: 15px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 4px solid var(--red);
    background-color: var(--green);
    padding-top: 1rem;
    transition: all 100ms ease-in;

    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: 100vh;
  }

  .nav-links.is-active {
    right: 0;
  }

  .nav-links a::before {
    bottom: 2px;
  }

  .sec-header{
    font-size: 26px;
  }

  /* Hero */
  .hero h1 {
    font-size: 45px;
    margin-bottom: 1.5rem;
  }

  .hero span {
    font-size: 20px;
    line-height: 35px;
  }

  /* sec1 */
  .sec1 {
    width: 100%;
  }

  .sec1 h2 {
    font-size: 1.8rem;
  }

  .sec1 .pronounciation {
    font-size: 16px;
  }

  .sec1 p {
    font-size: 1rem;
  }

  .skill-card {
    font-size: 1rem;
    padding: 5px 7px;
  }

  .skills-sec {
    font-size: 1rem;
  }

  /* ===== PROJECT SEC ===== */

  .project-card button {
    margin: 10px;
  }

  .card-info h3 {
    font-size: 1.5rem;
  }

  .card-links {
    flex-direction: column;
    margin: 0;
  }

  .project-card {
    padding-bottom: 10px;
    grid-template-rows: 0.5fr 1fr;
    width: 100%;
  }

  .portfolio-page p {
    font-size: 1rem;
  }

  .portfolio-page-github-link::before {
    bottom: 2px;
  }

  /* ===== CONTACT SEC ===== */

  .contact-page {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .email-form {
    width: 100%;
    padding: 1rem;
  }

  .email-form textarea,
  .email-form input {
    font-size: 1rem;
    width: 100%;
  }

  .email-form textarea,
  .email-form input {
    padding: 0;
  }

  .contact-page label {
    font-size: 1rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .nav-links a::before {
    bottom: 2px;
  }

  .nav-links a {
    text-decoration: wavy;
    text-decoration-color: #f3b646;
  }

  /* hero */
  .hero h1 {
    font-size: 40px;
  }

  .hero span {
    font-size: 1.2rem;
    line-height: unset;
  }

  .home-page .hero span {
    font-size: 20px;
  }

  .hero-btn{
    padding: 4px 6px;
  }

  /* sec1 */
  .sec1 h2 {
    font-size: 26px;
  }

  .sec1 p {
    font-size: 16px;
  }
  /* ===== PORTFOLIO SEC ===== */
  .card-info {
    padding-bottom: 0;
  }

  /* ===== CONTACT SEC ===== */

  .contact-form-container {
    width: 90%;
  }

  label {
    font-size: 1rem;
  }

  /* ===== FOOTER SEC ===== */
  footer {
    font-size: 1rem;
  }
}
